body {
    background-color: #f4f3ef !important;
}
.navbar {
    height: 63px !important;
}

.navbar-nav {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none !important;
}

.nav-item:first-child {
    margin-top: 0 !important;
}

@media screen and (max-width: 991px) {
    .navbar .container-fluid {
        padding-right: 15px !important;
        padding-left: 15px !important;
        min-width: 350px !important;
    }

    .main-panel {
        min-width: 100%;
    }
}
